<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="monkey.rising.tomatogo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity.MainActivity">

        </activity>
        <activity android:name=".MainActivity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".TaskSystem.logactivity">


        </activity>
        <activity android:name=".TaskSystem.AddTask"></activity>
        <activity android:name=".TaskSystem.EditTask"></activity>
        <activity android:name=".TaskSystem.regisiter"></activity>
        <activity android:name=".TaskSystem.tasklist"></activity>

        <activity android:name=".statisticView.StatisticActivity">



        </activity>

        <activity android:name=".config.AchievementView" />
        <activity
            android:name=".config.ConfigView"
           >
        </activity>
        <activity
            android:name=".config.textSizeChangeView"
            ></activity>
        <activity
            android:name=".config.AboutView"
        ></activity>

        <activity android:name=".config.BellView"
        ></activity>
        <activity android:name=".settings.Settings">

        </activity>
        <activity android:name=".settings.Label"></activity>
        <activity android:name=".settings.Picture"></activity>
        <activity android:name=".settings.Skin"></activity>
        <activity android:name=".settings.Theme"></activity>



    </application>

    <user-permission android:name="android.permission.VIBRATE"/>
</manifest>